:root {
    --font: 'Rubik', sans-serif;

    /* Colors */
    --principal: #adadad;
    --titles: #ffffff;
    
    --bg: #020403;
    
    
}

/* Generales */

html {
    font-size: var(--size-4);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--principal);
    margin: 0 auto;
    
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    color: var(--titles);
}

p {
    font-size: 16px;
}

a {
    width: 100%;
    height: 80px;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 10px;
    color: var(--principal);
}

.container {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/07/22/07/seamless-2482931_960_720.png');
}

/* Header */

.hero__navbar{
    margin: 0 auto;
    padding: 1rem 0 4rem 0;
}

.icons {
    display: flex;
    justify-content: center;
    padding: 2rem 0 6rem 0 ;
}
.icons i {
    font-size: 38px;
  color: #a9a9a9;
  transition: all .3s ease-in-out;
}

a:hover {
    color: var(--titles);
}

.icons i:hover{
    font-size: 50px;
    color: var(--titles);
}

.imgPerfil {
    display: block;
    border-radius: 50%;
    width: 12rem;
    margin: 0 auto;
}

/* Body */


.container__Acerca{
    text-align: left;
    padding: 5rem 0 0 1rem;
}

.skills {
    padding: 5rem 20px;
  }

.skills__container{
    display: flex;
    flex-direction: column;
}


/* Modo escritorio */

@media (min-width: 768px) {
    a {
        font-size: 16px;
        font-weight: 600;
    }

    a:hover{
        font-size: 18px;
    }

    .hero__navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .icons{
        padding: 1px 0;
    }


    .container__Acerca {
        margin: 0 25%;
        text-align: center;
    }

    .skills__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}